Hi,
<br>
<br> 
You have been assigned to review the project authorization procedure for {{organizationName}} in the {{countryName}} Carbon Credit Registry. <br>  

Please review the details and take the necessary action by clicking the link below: 
<br><a href={{programmePageLink}}>here</a>.<br> 
<br>
Sincerely,<br>

The {{countryName}} Carbon Credit Registry Team