Hi,
<br>
<br>
Your Initial Notification has been approved by {{countryName}} Designated National Authority and the Letter of No Objection was generated.<br>

Click <a href={{programmePageLink}}>here</a> for more details of the project.
<br><br>
Sincerely,<br>

The {{countryName}} Carbon Credit Registry Team