Hi,
<br>
<br> 
Initial Notification has been submitted, by {{organizationName}} organisation.<br> 

Please review and approve by clicking <a href={{programmePageLink}}>here</a>.<br> 
<br>
Sincerely,<br>

The {{countryName}} Carbon Credit Registry Team