Hi,<br>
<br>
A Monitoring Report has been submitted by {{organizationName}}.<br>
<br>
Please review and approve it by clicking <a href={{programmePageLink}}>here</a>.<br>
<br>
Sincerely,<br>
The {{countryName}} Carbon Credit Registry Team.