Hi,<br>
<br>
The Project Design Document certified by {{icOrganizationName}} organisation submitted by {{pdOrganizationName}} has been approved by the Designated National Authority (DNA). Click <a href={{programmePageLink}}>here</a> to add the Validation report.<br>
<br>
Sincerely,<br>
The {{countryName}} Carbon Registry Team