Hi,<br>
<br>
The Project Design Document submitted by {{organizationName}} has been certified by the {{icOrganizationName}} Independant Certifier. Please review and approve it by clicking <a href={{programmePageLink}}>here</a>.<br>
<br>
Sincerely,<br>
The {{countryName}} Carbon Credit Registry Team