Hi,<br>
<br>
Certification is declined by the {{organizationName}} Independant Certifier for the Project Design Document submitted by your organisation.<br>
<br>
Please re-submit the Project Design Document by clicking <a href={{programmePageLink}}>here</a>.<br>
<br>
Sincerely,<br>
The {{countryName}} Carbon Registry Team