Hi,<br>
<br>
Your organization in the {{countryName}} Carbon Registry has been reactivated.<br>
Click <a href={{home}}>here</a> to login to the system.
<br>
Sincerely,<br>
The {{countryName}} Carbon Registry Team